* {
    margin: 0px;
    padding: 0px;
}
html { scroll-behavior: smooth;}

header {
    height:70px;
    position:fixed top;
    background-color: #00C9A7;
    border-bottom: 1px solid #4D8076;

}

main {
    height:100%;
    background-color:#f2f5f4
}

footer {
    height:80px;
    position: absolute;
    bottom:0px;
    background-color: #C4FCEF
}
