* {
    margin: 0px;
    padding: 0px;
}
header {
    height:70px;
    background-color: #00C9A7;
}

main {
    height:100%;
    background-color:#f2f5f4
}

footer {
    height:80px;
    bottom:0px;
    background-color: #C4FCEF
}
